lectures/links2read.txt

ros2_ws/build/*
ros2_ws/install/*
ros2_ws/log/*

ros2_ws/frames*

ros2_ws/src/aws-robomaker-bookstore-world/*
ros2_ws/src/box_bot/*
ros2_ws/src/pibot_robot/launch/t3_waffle.launch.py*
ros2_ws/src/ros_tutorials/*
ros2_ws/src/turtlebot3/*
ros2_ws/src/urdf_tutorial_r2d2/
tests/arduino_feedback_servo_hyoda/
ros2_ws/src/PlotJuggler/
ros2_ws/src/aws-robomaker-bookstore-world/
ros2_ws/src/box_bot/
ros2_ws/src/ros_tutorials/
ros2_ws/src/swarm_obj_finder/
ros2_ws/src/turtlebot3/


TODO.txt
zenoh_nodes/swarm_obj_finder/nodes/__pycache__/*
tests/pibot-vision

ros2_ws/src/ir_robots/
ros2_ws/src/ThirdParty/
ros2_ws/src/RpisLabCmds.txt
t4_tests.txt
cameras_tests_info.yaml

memoria-tfg/correcciones/*
memoria-tfg/*.bak

